/* --- ACCOUNTS DIV FORMATTING --- */
.btn-accounts {
    min-width: 128px;
    margin-top: 16px;
    margin-left: 8px;
    margin-right: 8px;
}
.black {
    color: #222;
}
.asteriskField {
    display: none;
}
/* --- END ACCOUNTS DIV FORMATTING --- */
