{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/logout.css' %}">
{% endblock %}

{% block content %}
{% if not user.is_authenticated %}
<div class="row no-gutters h-100 card-row">
    <div class=" col-lg-6 offset-lg-3 col-sm-8 offset-sm-2 col-10 offset-1 my-auto">
        <div class="card text-white">
            <div class="card-header">
                <h1 class="text-centerblack">{% trans "RESET PASSWORD" %}</h1>
            </div>
            <div class="card-body text-center black">
                <div class="col-md-12">
                    <p style="margin-bottom: 8px;">{% blocktrans %}An email containing the reset link has been sent
                        to{% endblocktrans %} {{ email }}!</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% else %}
<div class="row no-gutters h-100 card-row">
    <div class=" col-lg-6 offset-lg-3 col-sm-8 offset-sm-2 col-10 offset-1 my-auto">
        <div class="card text-white">
            <div class="card-header">
                <h1 class="text-center black">{% trans "CHANGE PASSWORD" %}</h1>
            </div>
            <div class="card-body text-center black">
                <div class="col-md-12">
                    <p style="margin-bottom: 8px;">{% blocktrans %}Your password has been succesfully
                        changed!{% endblocktrans %}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}