{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/reset_password.css' %}">
{% endblock %}

{% block content %}
<div class="row no-gutters h-100 card-row">
    <div class="col-lg-6 offset-lg-3 col-sm-8 offset-sm-2 col-10 offset-1 my-auto">
        <div class="card text-white mx-auto">
            <div class="card-header">
                <h1 class="text-center black">{% trans "CHANGE PASSWORD" %}</h1>
            </div>
            <div class="card-body black">
                <form id="login-form" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="form-group text-center">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary btn-accounts">{% trans "Submit" %}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}