/* --- CORE STYLES --- */
body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5);
	background-repeat: no-repeat;
}
.core-button > img {
    height: 32px;
    width: 32px;
    filter: brightness(100%);
    transition: filter 250ms ease-in-out, transform 250ms ease-in-out;
}
.core-button:hover > img {
    filter: brightness(75%);
    transform: scale(1.1);
}


/* --- NAVBAR STYLES --- */
.navbar {
    transition: all 250ms ease-in-out;
    background-color: #000000;
    border-bottom: 4px solid #202020;
}
.nav-link {
    padding-top: 16px;
    padding-bottom: 16px;
}
.navbar.scrolled {
    background-color: #000000;
    border-bottom: 4px solid #202020;
}
.navbar-brand {
    max-height: 48px;
    margin: 0;
    padding: 0;
}
.navbar-brand-img {
    max-height: 48px;
}
.navbar-nav > a {
    color: #FFFFFF !important;
    text-transform: uppercase;
    transition: all 250ms ease-in-out;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.navbar .navbar-nav > a:hover {
    color: #c0c0c0 !important;
    transform: scale(1.1);
}
.navbar-toggler {
    transition: all 250ms ease-in-out;
}
.navbar-toggler:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.5);
    transition: all 250ms ease-in-out;
}
.navbar .navbar-collapse {
    text-align: center;
}
@media (min-width: 768px) {
    .navbar {
        background-color: transparent;
        transition: all 250ms ease-in-out;
        min-height: 64px;
        border-bottom: 4px solid transparent;
    }
    .nav-link {
        padding-top: 0;
        padding-bottom: 0;
    }
    .hide-desktop {
        display: none;
    }
    #core-button-div {
        order: 1;
    }
}


/* --- FOOTER STYLES --- */
footer {
    border-top: 4px solid #202020;
    background: #000000;
    padding: 8px;
    color: #808080;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 500
}
footer p {
    margin: 8px;
    font-size: 12px;
}
footer img {
    max-height: 32px;
    margin: 8px;
}
footer .div-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* --- CARD STYLES --- */
.card-header {
    letter-spacing: 2px;
}
.card-row {
    padding-top: 96px !important;
    padding-bottom: 96px !important;
    min-height: 100vh;
    height: 100%;
}


/* --- ALERT STYLES --- */
.alert {
    padding: 14px;
    margin: 6px;
}


/* --- DASHBOARD STYLES --- */
.dashboard {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.95);
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    transition: all 500ms ease-in-out;
}
.dashboard.hide {
    z-index: -1;
    opacity: 0;
}
.dashboard.show {
    z-index: 99999;
    opacity: 1;
}
.dashboard-header {
    padding: 16px;
    width: 100%;
    height: 64px;
    display: inline-flex;
    justify-content: space-between;
}
.dashboard-header > p {
    padding: 0;
    margin: 0;
    height: 100%;
    color: #202020;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.dashboard-header > p > span {
    color: #606060;
}


/* Position the content inside the overlay */
.dashboard-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
}
  
/* The navigation links inside the overlay */
.dashboard a {
    text-decoration: none;
    color: #606060;
    transition: 250ms; /* Transition effects on hover (color) */
}
  
/* When you mouse over the navigation links, change their color */
.dashboard a:hover, .dashboard a:focus {
    color: #202020;
}
  
/* Position the close button (top right corner) */

.main-nav-dashboard ul {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    padding: 0;
    grid-gap: 4px;
    list-style: none;
}

.main-nav-dashboard ul li {
    display: none
}

.main-nav-dashboard ul a {
    background: #373737;
    padding: 15px 0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 13px;
    font-weight: 300;
    color: #d7d7d7;
    transition-property: color, text-shadow, background;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.main-nav-dashboard ul a:hover {
    color: #FFF;
    text-decoration: none;
    text-shadow: 0 0 2px #FFF;
    background: #222;
}

.main-nav-dashboard ul a .svg {
    max-width: 64px;
}


