body, .home {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	color: #FFFFFF;
	display: table;
}
#text-center-home {
    display: table-cell;
    text-align: center;
	vertical-align: middle;
	font-family: 'Montserrat', sans-serif;
    font-weight: 400;
	letter-spacing: 2px;
	padding: 16px;
}