{% extends "base.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div class="home">
    <div id="text-center-home">
        <h1>Welcome to the LibreOrganize DEMO!</h1>
    </div>
</div>
{% endblock %}